<!DOCTYPE html>
<html>

  <head>
    <title>テキスト取得アプリ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="./static/style.css" />
  </head>

  <body>
    <h1>テキスト取得アプリ</h1>

    <div>
      <button onclick="getText()">テキストを取得</button>
    </div>

    <span>取得したメッセージ：</span>
    <span id="textbox"></span>

    <script src="https://unpkg.com/axios@1.4.0/dist/axios.min.js"></script>
    <script src="./static/main.js"></script>

  </body>

</html>